*{
    box-sizing: border-box;
}

body{
    background-color: rgb(42, 42, 58);
    font-family: "Roboto", sans-serif;
    color: rgb(181, 192, 238);
    font-size: 0.75em;
}

section {
    background-position: center center;
    background-color: rgb(54, 60, 82);
    border-radius: 5px;
    border: 1px solid rgb(74, 82, 109);
    padding: 10px 30px 30px 30px;
    width: fit-content;
    margin: auto;
}

h1{ font-size: 2em;
    font-weight: bold;
}

a{
    font-size: 0.9em;
    color: rgb(238, 70, 70);        
}

input {
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 10px 10px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: white;    
}

div {
    position: relative;
}

img {
    position: absolute;
    top: 28px;
    right: 10px;
    display: none;    
}

button {
    font-size: 0.9em;
    font-weight: bold;
    padding: 12px 10px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid rgb(31, 23, 54);
    color: white;
    background-color: rgb(85, 100, 153); 
}